<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home | Valid Email Extractor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='./style.css'>
</head>

<body>
    <header>
        <h3>Valid Email Extractor</h3>
        <div>
            <a href="/" class="active">Home</a>
        </div>
    </header>
    <main>
        <h1>Valid Email Extractor</h1>
        <p>Valid Email Extractor is a website where you can extract all valid emails from a certain page, this website
            has been created by <a class="link" target="_blank"
                href="https://www.linkedin.com/in/ahmed0saber/">ahmed0saber</a>
    </main>
    <span class="separator"></span>
    <section>
        <h2>Get Started</h2>
        <p>Enter the <span>URL</span> of any page, and wait for emails to be extracted.</p>
        <div class="form-container">
            <input type="text" placeholder="Enter url here" required>
            <button class="btn">extract</button>
        </div>
        <span class="separator"></span>
        <div class="emails-container"></div>
    </section>
</body>
<script src="./script.js"></script>

</html>